*
!.gitignore

# https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Birthday_cake_for_Alison.jpg/640px-Birthday_cake_for_Alison.jpg
640px-Birthday_cake_for_Alison.jpg

# created by python-scripts
frere-jacques-clip.wav


# https://openclipart.org/search/?query=birthday+candle
#https://openclipart.org/download/318248/1555050378.svg



# https://openclipart.org/detail/304137/strawberry-birthday-cake

# https://openclipart.org/detail/344275/calendar-2026
# https://openclipart.org/download/344275/calendar-2026standarddg-raopenclipart.svg



# mr-birthday-vocals.mp3
# just a recording of my voice singing the mr birthday song from love eternal.